@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prova Técnica Backend - Matheus Polato</h1>
    <p>-------------------------------------------------------------------------------------------------------------------------------------</p>
    <h3>Clique em <strong>Products</strong> para visualizar os produtos e em <strong>Categories</strong> para visualizar as categorias.</h3>
</div>
